@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

img {
	width: 50%;
	height: 50%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
}

input, button, select, optgroup, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.divCenter {
	width: 400px;
	height: 250px;
	left: 50%;
	background-color: darkgray;
	margin: -130px 0 0 -210px;
	padding: 10px;
	position: absolute;
	top: 50%;
	padding-bottom: 100px;
}

.content {
	max-width: 500px;
	margin: auto;
}

h1 {
	font-size: large 100px;
}

button, input {
	overflow: visible;
}

button, select {
	text-transform: none;
}

#fundo {
	background-image: url(../img/logo.jpg);
}

footer {
	background-color: #800000;
	padding: 10px;
	text-align: center;
	color: white;
}
header {
  background-color: #800000;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}


.topnav {
  overflow: hidden;
  background-color: #333;
}


.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

